<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cchuaspace.mapper.SuppliersCommodityMapper" >
  <resultMap id="BaseResultMap" type="com.cchuaspace.model.SuppliersCommodity" >
    <result column="id" property="id" jdbcType="CHAR" />
    <result column="supplier_number" property="supplierNumber" jdbcType="INTEGER" />
    <result column="commodity_number" property="commodityNumber" jdbcType="INTEGER" />
    <result column="purchase_price" property="purchasePrice" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, supplier_number, commodity_number, purchase_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cchuaspace.entity.SuppliersCommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from suppliers_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cchuaspace.entity.SuppliersCommodityExample" >
    delete from suppliers_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cchuaspace.model.SuppliersCommodity" >
    insert into suppliers_commodity (id, supplier_number, commodity_number, 
      purchase_price)
    values (#{id,jdbcType=CHAR}, #{supplierNumber,jdbcType=INTEGER}, #{commodityNumber,jdbcType=INTEGER}, 
      #{purchasePrice,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cchuaspace.model.SuppliersCommodity" >
    insert into suppliers_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="supplierNumber != null" >
        supplier_number,
      </if>
      <if test="commodityNumber != null" >
        commodity_number,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="supplierNumber != null" >
        #{supplierNumber,jdbcType=INTEGER},
      </if>
      <if test="commodityNumber != null" >
        #{commodityNumber,jdbcType=INTEGER},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cchuaspace.entity.SuppliersCommodityExample" resultType="java.lang.Integer" >
    select count(*) from suppliers_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update suppliers_commodity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.supplierNumber != null" >
        supplier_number = #{record.supplierNumber,jdbcType=INTEGER},
      </if>
      <if test="record.commodityNumber != null" >
        commodity_number = #{record.commodityNumber,jdbcType=INTEGER},
      </if>
      <if test="record.purchasePrice != null" >
        purchase_price = #{record.purchasePrice,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update suppliers_commodity
    set id = #{record.id,jdbcType=CHAR},
      supplier_number = #{record.supplierNumber,jdbcType=INTEGER},
      commodity_number = #{record.commodityNumber,jdbcType=INTEGER},
      purchase_price = #{record.purchasePrice,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>