<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cchuaspace.mapper.SysCommodityPriceMapper" >
  <resultMap id="BaseResultMap" type="com.cchuaspace.model.SysCommodityPrice" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="commodity_number" property="commodityNumber" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="present_price" property="presentPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, commodity_number, original_price, update_date, operator, present_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cchuaspace.entity.SysCommodityPriceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_commodity_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_commodity_price
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_commodity_price
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cchuaspace.entity.SysCommodityPriceExample" >
    delete from sys_commodity_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cchuaspace.model.SysCommodityPrice" >
    insert into sys_commodity_price (id, commodity_number, original_price, 
      update_date, operator, present_price
      )
    values (#{id,jdbcType=CHAR}, #{commodityNumber,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DECIMAL}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{operator,jdbcType=CHAR}, #{presentPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cchuaspace.model.SysCommodityPrice" >
    insert into sys_commodity_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityNumber != null" >
        commodity_number,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="presentPrice != null" >
        present_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="commodityNumber != null" >
        #{commodityNumber,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=CHAR},
      </if>
      <if test="presentPrice != null" >
        #{presentPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cchuaspace.entity.SysCommodityPriceExample" resultType="java.lang.Integer" >
    select count(*) from sys_commodity_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_commodity_price
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.commodityNumber != null" >
        commodity_number = #{record.commodityNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPrice != null" >
        original_price = #{record.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=CHAR},
      </if>
      <if test="record.presentPrice != null" >
        present_price = #{record.presentPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_commodity_price
    set id = #{record.id,jdbcType=CHAR},
      commodity_number = #{record.commodityNumber,jdbcType=VARCHAR},
      original_price = #{record.originalPrice,jdbcType=DECIMAL},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=CHAR},
      present_price = #{record.presentPrice,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cchuaspace.model.SysCommodityPrice" >
    update sys_commodity_price
    <set >
      <if test="commodityNumber != null" >
        commodity_number = #{commodityNumber,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=CHAR},
      </if>
      <if test="presentPrice != null" >
        present_price = #{presentPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cchuaspace.model.SysCommodityPrice" >
    update sys_commodity_price
    set commodity_number = #{commodityNumber,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=CHAR},
      present_price = #{presentPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>