<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cchuaspace.mapper.WechatPayResultMapper" >
  <resultMap id="BaseResultMap" type="com.cchuaspace.model.WechatPayResult" >
    <result column="id" property="id" jdbcType="CHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="bank_type" property="bankType" jdbcType="VARCHAR" />
    <result column="cash_fee" property="cashFee" jdbcType="VARCHAR" />
    <result column="device_info" property="deviceInfo" jdbcType="VARCHAR" />
    <result column="is_subscribe" property="isSubscribe" jdbcType="VARCHAR" />
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <result column="nonce_str" property="nonceStr" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="result_code" property="resultCode" jdbcType="VARCHAR" />
    <result column="return_code" property="returnCode" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="time_end" property="timeEnd" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="INTEGER" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appid, attach, bank_type, cash_fee, device_info, is_subscribe, mch_id, nonce_str, 
    openid, out_trade_no, result_code, return_code, sign, time_end, total_fee, trade_type, 
    transaction_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cchuaspace.entity.WechatPayResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wechat_pay_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cchuaspace.entity.WechatPayResultExample" >
    delete from wechat_pay_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cchuaspace.model.WechatPayResult" >
    insert into wechat_pay_result (id, appid, attach, 
      bank_type, cash_fee, device_info, 
      is_subscribe, mch_id, nonce_str, 
      openid, out_trade_no, result_code, 
      return_code, sign, time_end, 
      total_fee, trade_type, transaction_id
      )
    values (#{id,jdbcType=CHAR}, #{appid,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{bankType,jdbcType=VARCHAR}, #{cashFee,jdbcType=VARCHAR}, #{deviceInfo,jdbcType=VARCHAR}, 
      #{isSubscribe,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{resultCode,jdbcType=VARCHAR}, 
      #{returnCode,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{timeEnd,jdbcType=VARCHAR}, 
      #{totalFee,jdbcType=INTEGER}, #{tradeType,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cchuaspace.model.WechatPayResult" >
    insert into wechat_pay_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="attach != null" >
        attach,
      </if>
      <if test="bankType != null" >
        bank_type,
      </if>
      <if test="cashFee != null" >
        cash_fee,
      </if>
      <if test="deviceInfo != null" >
        device_info,
      </if>
      <if test="isSubscribe != null" >
        is_subscribe,
      </if>
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="nonceStr != null" >
        nonce_str,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="resultCode != null" >
        result_code,
      </if>
      <if test="returnCode != null" >
        return_code,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="timeEnd != null" >
        time_end,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null" >
        #{cashFee,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null" >
        #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null" >
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cchuaspace.entity.WechatPayResultExample" resultType="java.lang.Integer" >
    select count(*) from wechat_pay_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wechat_pay_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.attach != null" >
        attach = #{record.attach,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null" >
        bank_type = #{record.bankType,jdbcType=VARCHAR},
      </if>
      <if test="record.cashFee != null" >
        cash_fee = #{record.cashFee,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceInfo != null" >
        device_info = #{record.deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubscribe != null" >
        is_subscribe = #{record.isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null" >
        mch_id = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.nonceStr != null" >
        nonce_str = #{record.nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.resultCode != null" >
        result_code = #{record.resultCode,jdbcType=VARCHAR},
      </if>
      <if test="record.returnCode != null" >
        return_code = #{record.returnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null" >
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.timeEnd != null" >
        time_end = #{record.timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=INTEGER},
      </if>
      <if test="record.tradeType != null" >
        trade_type = #{record.tradeType,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wechat_pay_result
    set id = #{record.id,jdbcType=CHAR},
      appid = #{record.appid,jdbcType=VARCHAR},
      attach = #{record.attach,jdbcType=VARCHAR},
      bank_type = #{record.bankType,jdbcType=VARCHAR},
      cash_fee = #{record.cashFee,jdbcType=VARCHAR},
      device_info = #{record.deviceInfo,jdbcType=VARCHAR},
      is_subscribe = #{record.isSubscribe,jdbcType=VARCHAR},
      mch_id = #{record.mchId,jdbcType=VARCHAR},
      nonce_str = #{record.nonceStr,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      result_code = #{record.resultCode,jdbcType=VARCHAR},
      return_code = #{record.returnCode,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      time_end = #{record.timeEnd,jdbcType=VARCHAR},
      total_fee = #{record.totalFee,jdbcType=INTEGER},
      trade_type = #{record.tradeType,jdbcType=VARCHAR},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>